<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.5.580-Beta" targetFramework="MonoTouch10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1" targetFramework="MonoTouch10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.1.1" targetFramework="MonoTouch10" />
  <package id="MvvmCross.PortableSupport" version="3.1.1" targetFramework="MonoTouch10" />
</packages>